#Datasets
data/

#Model Checkpoints
checkpoint/


#Images
Image_Visualization/*.png


#Model cache data
Models/__pycache__/*.pyc

#Import cache data 
training/__pycache__/
utils/__pycache__/
visualization/__pycache__/


__pycahce__